attributedModel.afm
Betty.iml
model.afm
model2.afm
TestRun_attributedModel.afm
TestRun_normalModel.afm
TODO.txt
.idea
bin
.metadata
out
src/no/uio/ifi/cfmExecutionExamples/ConfigAllApproaches.java
src/no/uio/ifi/cfmExecutionExamples/ConfigPresentation2.java
src/no/uio/ifi/cfmExecutionExamples/ConfigTuningGE.java
src/no/uio/ifi/cfmExecutionExamples/ConfigTuningSA.java
src/no/uio/ifi/cfmExecutionExamples/MainTest.java
